<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail</title>
  </head>
  <body>
    <form action="{% url 'polls:vote' question.id %}" method="post">
      <!--

        {% csrf_token %} template tag to protect against CSRF attacks

        display a radio button for each question choice

        the value of each choice is the associated question's choice id

        /POST choice=# where # is the ID of the selected choice

        forloop.counter indicates how many times the `for` tag has gone through its loop
      -->

      {% csrf_token %}

      <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <!---->

        {% for choice in question.choice_set.all %}
        <input
          type="radio"
          name="choice"
          id="choice{{ forloop.counter }}"
          value="{{ choice.id }}"
        />

        <label for="choice{{ forloop.counter }}">{{choice.choice_text}}</label>
        <br />
        {% endfor %}
      </fieldset>
      <input type="submit" value="Vote" />
    </form>
  </body>
</html>
